.storageBannerListPanel{
    display: flex;
    position: absolute;
    top: 106px;
    left: 0px;
    justify-content: space-between;
    width: 910px;
}
.storageBannerList{
    display: flex;
    gap: 35px;
    padding-left: 20px;
}

