.fileDetailsCard{
    
    width: 940px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    padding: 10px;
    
    box-sizing: border-box;

}

.textValue{
    
    width: 93px;
    height: 17px;
    text-align: left;
    font: normal normal 600 13px/17px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.fileCardLeft{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 5px;
}

.fileOwnerImg{
    
    width: 25px;
    height: 25px;
    
    opacity: 1;
}

.fileCardCenter{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}

.fileThreeDotDropDown{
 
    width: 20px;
    height: 20px;

    background: transparent url('../../../../../assets/images/horizontalThreeDots.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.fileDate{
    
    height: 17px;
    text-align: left;
    font: normal normal 600 13px/17px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-right: 48px;
}
